@charset 'utf-8';
@use 'base/__root' as *;
@use 'base/__reset' as *;
@use 'base/_mixins' as *;

#root {
  width: 100%;
  height: 100vh;
  font-weight: var(--font-weight-regular);
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-bold);
}

.view-layout {
  @include flexbox-center;
  text-align: center;
  width: 100%;
  height: 100%;
}
